@charset "utf-8";

* {
    margin: -1px 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.img{
    width: 25%;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .img {
        width: 33.3%;
    }
}

@media screen and (max-width: 768px) {
    .img {
        width: 50%;
    }
}

@media screen and (max-width: 580px) {
    .img {
        width: 100%;
    }
}